<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="public/styles.css">
</head>

<body>

  <h1><%= date %></h1>

  <ul>
    <li>placeholder 1</li>
    <li>placeholder 2</li>
  </ul>

  <form action="/" method="post">
    <label for="toDoEntry">Add new item: </label>
    <input type="text" name="toDoEntry">
    <button type="submit" name="button">Add</button>
  </form>
</body>

</html>
